<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videojuego Multijugador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bienvenido al Videojuego Multijugador</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('gestion_jugadores') }}">Gestión de Jugadores</a></li>
            <li><a href="{{ url_for('gestion_mapas') }}">Gestión de Mapas</a></li>
        </ul>
    </nav>
</body>
</html>
